<!DOCTYPE html>
<html>
<head>
<title>Hlace New Yorker</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/odjecaNYsve.css">
</head>
<body>
<h2 class="italic">Izbor hlaca iz trgovine New Yorker :</h2>
<br>
<br>

<div class="gallery">
  <a target="_blank" href="ny_hlace1.png">
    <img src="static/styles/images/ny_hlace1.png" alt="Hlace 1" width="600" height="400">
  </a>
  <div class="desc">Hlace 1  <br> cijena: 300 kn  <br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_hlace2.png">
    <img src="static/styles/images/ny_hlace2.png" alt="Hlace 2" width="600" height="400">
  </a>
  <div class="desc">Hlace 2<br>cijena: 220 kn <br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_hlace3.png">
    <img src="static/styles/images/ny_hlace3.png" alt="Hlace 3" width="600" height="400">
  </a>
  <div class="desc">Hlace 3 <br> cijena: 440 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_hlace4.png">
    <img src="static/styles/images/ny_hlace4.png" alt="Hlace 4" width="600" height="400">
  </a>
  <div class="desc">Hlace 4<br>cijena: 250 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="gallery">
  <a target="_blank" href="ny_hlace5.png">
    <img src="static/styles/images/ny_hlace5.png" alt="Hlace 5" width="600" height="400">
  </a>
  <div class="desc">Hlace 5 <br> cijena: 180 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span> </div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_hlace6.png">
    <img src="static/styles/images/ny_hlace6.png" alt="Hlace 6" width="600" height="400">
  </a>
  <div class="desc">Hlace 6<br> cijena: 500 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_hlace7.png">
    <img src="static/styles/images/ny_hlace7.png" alt="Hlace 7" width="600" height="400">
  </a>
  <div class="desc">Hlace7 <br> cijena: 400 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_hlace8.png">
    <img src="static/styles/images/ny_hlace8.png" alt="Hlace 8" width="600" height="400">
  </a>
  <div class="desc">Hlace 8 <br> cijena: 210kn <br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>
<br><br>

<input type="submit" onclick="location.href='http://google.com';" value="Rezerviraj!">




</body>
</html>
