<!DOCTYPE html>
<html>
<head>
    <title>H&M majice</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/majiceHM.css">
</head>
<body>
<h2 class="italic">Izbor haljina iz trgovine H & M :</h2>
<br>
<br>
<div class="gallery">
  <a target="_blank" href="hm_haljina1.jpg">
    <img src="static/styles/images/hm_haljina1.jpg" alt="Haljina 1" width="600" height="400">
  </a>
  <div class="desc">Haljina 1  <br> cijena: 150 kn  <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 1">
        <input type="hidden" name="cijena" id="cijena" value="1000">
          <select name="velicina" placeholder="">
  <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_haljina2.jpg">
    <img src="static/styles/images/hm_haljina2.jpg" alt="Hlace 2" width="600" height="400">
  </a>
  <div class="desc">Haljina 2<br>cijena: 220 kn <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 2">
        <input type="hidden" name="cijena" id="cijena" value="220">
          <select name="velicina" placeholder="">
  <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_haljina3.jpg">
    <img src="static/styles/images/hm_haljina3.jpg" alt="Haljina 3" width="600" height="400">
  </a>
  <div class="desc">Haljina 3 <br> cijena: 440 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 3">
        <input type="hidden" name="cijena" id="cijena" value="440">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_haljina4.jpg">
    <img src="static/styles/images/hm_haljina4.jpg" alt="Haljina 4" width="600" height="400">
  </a>
  <div class="desc">Haljina 4<br>cijena: 250 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 4">
        <input type="hidden" name="cijena" id="cijena" value="250">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="gallery">
  <a target="_blank" href="hm_haljina5.jpg">
    <img src="static/styles/images/hm_haljina5.jpg" alt="Haljina 5" width="600" height="400">
  </a>
  <div class="desc">Haljina 5 <br> cijena: 180 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 5">
        <input type="hidden" name="cijena" id="cijena" value="180">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span> </div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_haljina6.jpg">
    <img src="static/styles/images/hm_haljina6.jpg" alt="Haljina 6" width="600" height="400">
  </a>
  <div class="desc">Haljina 6<br> cijena: 500 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 6">
        <input type="hidden" name="cijena" id="cijena" value="500">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_haljina7.jpg">
    <img src="static/styles/images/hm_haljina7.jpg" alt="Haljina 7" width="600" height="400">
  </a>
  <div class="desc">Haljina 7 <br> cijena: 400 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 7">
        <input type="hidden" name="cijena" id="cijena" value="400">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_haljina8.jpg">
    <img src="static/styles/images/hm_haljina8.jpg" alt="Haljina 8" width="600" height="400">
  </a>
  <div class="desc">Haljina 8 <br> cijena: 210kn <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="haljine" id="haljine" value="Haljina 8">
        <input type="hidden" name="cijena" id="cijena" value="210">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>
<br><br>

</body>
</html>
