<!DOCTYPE html>
<html>
<head>
    <title>H&M majice</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/majiceHM.css">
</head>
<body>
<h2 class="italic">Izbor hlaca iz trgovine H & M :</h2>
<br>
<br>

<div class="gallery">
  <a target="_blank" href="hm_hlace1.jpg">
    <img src="static/styles/images/hm_hlace1.jpg" alt="Hlace 1" width="600" height="400">
  </a>
  <div class="desc">Hlace 1  <br> cijena: 350 kn  <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 1">
        <input type="hidden" name="cijena" id="cijena" value="350">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_hlace2.jpg">
    <img src="static/styles/images/hm_hlace2.jpg" alt="Hlace 2" width="600" height="400">
  </a>
  <div class="desc">Hlace 2<br>cijena: 600 kn <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 2">
        <input type="hidden" name="cijena" id="cijena" value="600">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_hlace3.jpg">
    <img src="static/styles/images/hm_hlace3.jpg" alt="Hlace 3" width="600" height="400">
  </a>
  <div class="desc">Hlace 3 <br> cijena: 550 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 3">
        <input type="hidden" name="cijena" id="cijena" value="550">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_hlace4.jpg">
    <img src="static/styles/images/hm_hlace4.jpg" alt="Hlace 4" width="600" height="400">
  </a>
  <div class="desc">Hlace 4<br>cijena: 280 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 4">
        <input type="hidden" name="cijena" id="cijena" value="280">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="gallery">
  <a target="_blank" href="hm_hlace5.jpg">
    <img src="static/styles/images/hm_hlace5.jpg" alt="Hlace 5" width="600" height="400">
  </a>
  <div class="desc">Hlace 5 <br> cijena: 450 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 5">
        <input type="hidden" name="cijena" id="cijena" value="450">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span> </div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_hlace6.jpg">
    <img src="static/styles/images/hm_hlace6.jpg" alt="Hlace 6" width="600" height="400">
  </a>
  <div class="desc">Hlace 6<br> cijena: 150 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 6">
        <input type="hidden" name="cijena" id="cijena" value="150">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_hlace7.jpg">
    <img src="static/styles/images/hm_hlace7.jpg" alt="Hlace 7" width="600" height="400">
  </a>
  <div class="desc">Hlace 7 <br> cijena: 630 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 7">
        <input type="hidden" name="cijena" id="cijena" value="630">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_hlace8.jpg">
    <img src="static/styles/images/hm_hlace8.jpg" alt="Hlace 8" width="600" height="400">
  </a>
  <div class="desc">Hlace 8 <br> cijena: 200kn <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="hlace" id="hlace" value="Hlace 8">
        <input type="hidden" name="cijena" id="cijena" value="200">
        <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>
<br><br>


</body>
</html>
