<!DOCTYPE html>
<html>
<head>
    <title>Početna</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/login-korisnik.css">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2 class="italic">Login to your store!</h2>
<br>
<br>
<form method="POST">
  <!--<label for="email" >Email......</label>-->
  <input type="text" id="store_code" name="store_code" placeholder="Your store code...">

  <br>
  <!--<label for="password">Password</label>-->
  <input type="text" id="password" name="password" placeholder="Your password...">
  <input type="submit" value="Login">

</form>
<br>
<input type="submit" onclick="location.href='/';" value="Cancel">

</body>
</html>
































