<!DOCTYPE html>
<html>
<head>
<title>Login korisnik</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/login-korisnik.css">
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2 class="italic">Already have a user profile? Login!</h2>
<br>
<br>
<form method="POST" name="vform">
  <!--<label for="email" >Email......</label>-->
  <input type="text" id="email" name="email" placeholder="Your email...">
  <br>
  <!--<label for="password">Password</label>-->
  <input type="text" id="password" name="password" placeholder="Your password...">
<br>
<input type="Submit" value="Login">
<br>
</form>
<input type="Submit" onclick="location.href='/';" value="Cancel">
</body>
</html>
