<!DOCTYPE html>
<html>
<head>
<title>H&M majice</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/majiceHM.css">
</head>
<body>
<h2 class="italic">Izbor majica iz trgovine H & M :</h2>
<br>
<br>

<div class="gallery">
  <a target="_blank" href="hm_majica1.jpg">
    <img src="static/styles/images/hm_majica1.jpg" alt="Majica 1" width="600" height="400">
  </a>
  <div class="desc">Majica 1  <br> cijena: 1000 kn  <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 1">
        <input type="hidden" name="cijena" id="cijena" value="1000">
          <select name="velicina" placeholder="">
  <option></option>
  <option class="optionstyle" value="xs">xs</option>
  <option class="optionstyle" value="s">s</option>
  <option class="optionstyle" value="m">m</option>
  <option class="optionstyle" value="l">l</option>
  <option class="optionstyle" value="xl">xl</option>
  </select>
  <br>
  <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
</form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_majica2.jpg">
    <img src="static/styles/images/hm_majica2.jpg" alt="Majica 2" width="600" height="400">
  </a>
  <div class="desc">Majica 2<br>cijena: 500 kn <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 2">
        <input type="hidden" name="cijena" id="cijena" value="500">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_majica3.jpg">
    <img src="static/styles/images/hm_majica3.jpg" alt="Majica 3" width="600" height="400">
  </a>
  <div class="desc">Majica 3 <br> cijena: 250 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 3">
        <input type="hidden" name="cijena" id="cijena" value="250">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_majica4.jpg">
    <img src="static/styles/images/hm_majica4.jpg" alt="Majica 4" width="600" height="400">
  </a>
  <div class="desc">Majica 4<br>cijena: 200 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 4">
        <input type="hidden" name="cijena" id="cijena" value="200">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="gallery">
  <a target="_blank" href="hm_majica5.jpg">
    <img src="static/styles/images/hm_majica5.jpg" alt="Majica 5" width="600" height="400">
  </a>
  <div class="desc">Majica 5 <br> cijena: 300 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 5">
        <input type="hidden" name="cijena" id="cijena" value="300">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span> </div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_majica6.jpg">
    <img src="static/styles/images/hm_majica6.jpg" alt="Majica 6" width="600" height="400">
  </a>
  <div class="desc">Majica 6<br> cijena: 400 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 6">
        <input type="hidden" name="cijena" id="cijena" value="400">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_majica7.jpg">
    <img src="static/styles/images/hm_majica7.jpg" alt="Majica 7" width="600" height="400">
  </a>
  <div class="desc">Majica 7 <br> cijena: 350 kn<br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 7">
        <input type="hidden" name="cijena" id="cijena" value="350">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
    <span class="checkmark"></span></div>
  </form>
</div>

<div class="gallery">
  <a target="_blank" href="hm_majica8.jpg">
    <img src="static/styles/images/hm_majica8.jpg" alt="Majica 8" width="600" height="400">
  </a>
  <div class="desc">Majica 8 <br> cijena: 150kn <br>
    <form method="POST" type="vform" onsubmit="return Validacija()">
		<input type= "hidden" name="HM" id="HM" value="H&M">
        <input type="hidden" name="majica" id="majica" value="Majica 7">
        <input type="hidden" name="cijena" id="cijena" value="350">
          <select name="velicina" placeholder="">
    <option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>
</div>
<br><br>


</body>
</html>
