<!DOCTYPE html>
<html>
<head>
<title>Majice New Yorker</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/odjecaNYsve.css">
</head>
<body>
<h2 class="italic">Izbor majica iz trgovine New Yorker :</h2>
<br>
<br>

<div class="gallery">
  <a target="_blank" href="ny_majica1.png">
    <img src="static/styles/images/ny_majica1.png" alt="Majica 1" width="600" height="400">
  </a>
 <form method="POST" type="vform" onsubmit="return Validacija()">
  <div class="desc">Majica 1  <br> cijena: 300 kn  <br>
	<input type="text" name="majica" id="majica" value="Majica 1">
	<input type="text" name="cijena" id="cijena" value="300">
    <br>
	<select name="velicina" placeholder="">
	<option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span>
  </div>
 </form>
</div>

<div class="gallery">
  <a target="_blank" href="ny_majica2.png">
    <img src="static/styles/images/ny_majica2.png" alt="Majica 2" width="600" height="400">
  </a>
  <div class="desc">Majica 2<br>cijena: 220 kn <br>
<form method="POST" type="vform" onsubmit="return Validacija()">
	<input type="text" name="majica" id="majica" value="Majica 2">
	<input type="text" name="cijena" id="cijena" value="220">
    <select name="velicina">
	<option></option>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="submit"  value="Rezerviraj!" >
  <span class="checkmark"></span></div>
  </form>  
</div>

<div class="gallery">
  <a target="_blank" href="ny_majica3.png">
    <img src="static/styles/images/ny_majica3.png" alt="Majica 3" width="600" height="400">
  </a>
  <div class="desc">Majica 3 <br> cijena: 440 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_majica4.png">
    <img src="static/styles/images/ny_majica4.png" alt="Majica 4" width="600" height="400">
  </a>
  <div class="desc">Majica 4<br>cijena: 250 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="gallery">
  <a target="_blank" href="ny_majica5.png">
    <img src="static/styles/images/ny_majica5.png" alt="Majica 5" width="600" height="400">
  </a>
  <div class="desc">Majica 5 <br> cijena: 180 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span> </div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_majica6.png">
    <img src="static/styles/images/ny_majica6.png" alt="Majica 6" width="600" height="400">
  </a>
  <div class="desc">Majica 6<br> cijena: 500 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_majica7.png">
    <img src="static/styles/images/ny_majica7.png" alt="Majica 7" width="600" height="400">
  </a>
  <div class="desc">Majica 7 <br> cijena: 400 kn<br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>

<div class="gallery">
  <a target="_blank" href="ny_majica8.png">
    <img src="static/styles/images/ny_majica8.png" alt="Majica 8" width="600" height="400">
  </a>
  <div class="desc">Majica 8 <br> cijena: 210kn <br>
    <select>
    <option class="optionstyle" value="xs">xs</option>
    <option class="optionstyle" value="s">s</option>
    <option class="optionstyle" value="m">m</option>
    <option class="optionstyle" value="l">l</option>
    <option class="optionstyle" value="xl">xl</option>
    </select>
    <br>
    <input type="checkbox">
  <span class="checkmark"></span></div>
</div>
<br><br>



 </form>


</body>
</html>
